extends ../layout

block content
	include ../sidebar.jade

	#content
		#center
			#content-header
				.location #{location.location.name}
				a.back(href='/dashboard') &larr; back to plots
			#inner-content
				.inner-header
					.title plot #{plot.info.plotnumber}
					.datasets
						.set sensor data
				#new-data
					.top
						.top-item.timestamp timestamp
						.top-item.reading Reading
						.section.delete
						.section.save
					.data
						each hi in Array(5)
							.row(location='#{location._id}' plot='#{plot._id}')
								.timestamp.section
									input(type='datetime-local' name='timestamp')
								.reading.section
									input(type='number' name='reading' min="0" max="100")
									span /100
								.section.save save
								.section.delete delete
					.add-row Add row

				include ../lists/bio.jade

	script(src='/javascripts/manual.js')