#content-header
	.location location
	a.back(href='/dashboard') &larr; back to plots
#inner-content
	.inner-header
		.title plot #
		.datasets
			.set sensor data
	#plot.list
		.top
			.top-item.timestamp timestamp
			.top-item.moisture timestamp
			.top-item.temp timestamp

		.rows
			each row in data
				.plot.row(plot=plot._id)
					.timestamp #{row.timestamp}
					.moisture #{row.moisture}
					.temp #{row.temp}