extends layout

block content
	#dashboard-nav-bar
		.dashboard-section
			.section-title Locations

	#locations
		#new-location
			.left 
				.title Add new location
			.form
				form#new-location(action="/dashboard/add-location" method="post")
					input(type="text" name="name" value="test location")
					input(type="text" name="address" value="Brooklyn")
					input#create-location(type="submit" value="Submit")
		each location in locations
			.location(id=location._id)
				.location-info 
					.title= location.location.name
					.add-plot(location=location._id) Add plot

				.plots
					.labels
						.name.label
						.time.label status
						.temp.label temperature
						.moisture.label moisture
					if location.plots
						each plot in location.plots
							include ./plot.jade
								

		//- div #{locations[0].plots[0].data}

