doctype html
html
	head
		//- title Soil Watch

		meta(http-equiv="Content-Language" content="en")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/style/css/style.css')
		script(src='http://code.jquery.com/jquery.js')
		<script src='/javascripts/main.js'></script>
		<script src='/javascripts/location.js'></script>

	body
		if (error && error.length > 0)
			br
			h4.error-msg= error
			br

		block content