block content
	.close close
	form#biodiversity
		.readings
			fieldset
				input.date(type="date")
				input.time(type="time")
				input.reading(type="number" value="0")
		div.add 
			span + New reading
		input#upload-readings(type="submit" value="Save")

	section.past-readings

	script.
		$(document).ready( function() {
			$('.add span').click(function() {
				$('.readings').append('<fieldset><input type="date" class="date"><input type="time" class="time"><input type="number" value="0" class="reading"></fieldset>')
			})

			$('.close').click(function() {
				$('#overlay').fadeOut(200)
				setTimeout(function(){
					$('#overlay').remove()
				}, 200)
			})

			$('#upload-readings').click(function(event) {
				event.preventDefault();
				var readings = [];
				$('fieldset').each( function() {
					var crop = $(this).val()
					if(crop) {
						crops.push(crop)
					}
				})
				var data = {
					crops: crops,
					saturation: $('input.saturation').val(),
					capacity: $('input.capacity').val(),
					dry: $('input.dry').val()
				}
				console.log(data)
				var url = '/edit/' + $('#overlay').attr('location') + "/" + $('#overlay').attr('plot')
				$.post(url, data, function(data, status){
					if(status == 'success') {
						console.log('plot updated')
					}
				});
			})
		})