#new-location
	.left 
		.title Add new location
	.form
		form#new-location(action="/dashboard/add-location" method="post")
			input(type="text" name="name" value="test location")
			input(type="text" name="address" value="Brooklyn")
			input#create-location(type="submit" value="Submit")