extends layout

block content
    .fullpage
        fieldset#register
            h1 Register
            .form-group
                input.form-control(type='text', name="userName", placeholder='Username')
            .form-group
                input.form-control(type='text', name="firstName", placeholder='First Name')
            .form-group
                input.form-control(type='text', name="lastName", placeholder='Last Name')
            .form-group
                input.form-control(type='text', name="email", placeholder='Email')
            .form-group
                input.form-control(type='password', name="password", placeholder='Password')
            button#register-user.btn.btn-primary Submit
            br
            a(href='/login') already registered?