extends ../layout

block content
	.login
		form#login(role='form', action="/login",method="post")
			h1 Login
			.form-group
				input.form-control(type='text', name="username", placeholder='Enter Username' value='fabricant')
			.form-group
				input.form-control(type='password', name="password", placeholder='Password' value=' ')
			button.btn.btn-primary(type='submit') Submit
			br
			a(href='/register') register?