/* line 3, ../scss/manual-upload.scss */
#new-data {
  width: 100%;
  margin-bottom: 50px;
}
/* line 7, ../scss/manual-upload.scss */
#new-data .top {
  margin-bottom: 10px;
  text-align: left;
  border-bottom: 2px solid #000;
}
/* line 11, ../scss/manual-upload.scss */
#new-data .top .timestamp {
  position: relative;
  display: inline-block;
  width: 250px;
  margin-right: 10px;
  font-weight: bold;
}
/* line 15, ../scss/manual-upload.scss */
#new-data .top .reading {
  position: relative;
  display: inline-block;
  width: 120px;
  margin-right: 10px;
  font-weight: bold;
}
/* line 20, ../scss/manual-upload.scss */
#new-data .data, #new-data #plot.list .rows, #new-data #bio.list .rows {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}
/* line 24, ../scss/manual-upload.scss */
#new-data .data .row, #new-data #plot.list .rows .row, #new-data #bio.list .rows .row {
  padding: 5px 0;
}
/* line 27, ../scss/manual-upload.scss */
#new-data .data .row .section input, #new-data #plot.list .rows .row .section input, #new-data #bio.list .rows .row .section input {
  border: none;
  border-bottom: 1px solid #1b8e6d;
}
/* line 31, ../scss/manual-upload.scss */
#new-data .data .row .section input:focus, #new-data #plot.list .rows .row .section input:focus, #new-data #bio.list .rows .row .section input:focus {
  outline: none;
  background-color: #c4f2df;
}
/* line 35, ../scss/manual-upload.scss */
#new-data .data .row .section span, #new-data #plot.list .rows .row .section span, #new-data #bio.list .rows .row .section span {
  font-family: 'Calibri';
  opacity: 0.5;
}
/* line 40, ../scss/manual-upload.scss */
#new-data .data .row .timestamp, #new-data #plot.list .rows .row .timestamp, #new-data #bio.list .rows .row .timestamp {
  position: relative;
  display: inline-block;
  width: 250px;
  margin-right: 10px;
}
/* line 42, ../scss/manual-upload.scss */
#new-data .data .row .timestamp .month, #new-data .data .row .timestamp .day, #new-data .data .row .timestamp .hour, #new-data .data .row .timestamp .minute, #new-data #plot.list .rows .row .timestamp .month, #new-data #plot.list .rows .row .timestamp .day, #new-data #plot.list .rows .row .timestamp .hour, #new-data #plot.list .rows .row .timestamp .minute, #new-data #bio.list .rows .row .timestamp .month, #new-data #bio.list .rows .row .timestamp .day, #new-data #bio.list .rows .row .timestamp .hour, #new-data #bio.list .rows .row .timestamp .minute {
  display: inline-block;
  width: 20px;
}
/* line 46, ../scss/manual-upload.scss */
#new-data .data .row .timestamp .period, #new-data #plot.list .rows .row .timestamp .period, #new-data #bio.list .rows .row .timestamp .period {
  width: 60px;
}
/* line 49, ../scss/manual-upload.scss */
#new-data .data .row .timestamp .minute, #new-data #plot.list .rows .row .timestamp .minute, #new-data #bio.list .rows .row .timestamp .minute {
  margin-right: 5px;
}
/* line 52, ../scss/manual-upload.scss */
#new-data .data .row .timestamp .year, #new-data #plot.list .rows .row .timestamp .year, #new-data #bio.list .rows .row .timestamp .year {
  display: inline-block;
  width: 40px;
  margin-right: 10px;
}
/* line 58, ../scss/manual-upload.scss */
#new-data .data .row .reading, #new-data #plot.list .rows .row .reading, #new-data #bio.list .rows .row .reading {
  position: relative;
  display: inline-block;
  width: 120px;
  margin-right: 10px;
}
/* line 60, ../scss/manual-upload.scss */
#new-data .data .row .reading input, #new-data #plot.list .rows .row .reading input, #new-data #bio.list .rows .row .reading input {
  width: 50px;
}
/* line 64, ../scss/manual-upload.scss */
#new-data .data .row .save, #new-data #plot.list .rows .row .save, #new-data #bio.list .rows .row .save {
  float: right;
  position: relative;
  display: inline-block;
  width: 50px;
  margin-right: 10px;
  color: #1b8e6d;
  cursor: pointer;
}
/* line 70, ../scss/manual-upload.scss */
#new-data .data .row .delete, #new-data #plot.list .rows .row .delete, #new-data #bio.list .rows .row .delete {
  float: right;
  position: relative;
  display: inline-block;
  width: 50px;
  margin-right: 10px;
  color: #cc2f2f;
  cursor: pointer;
}
/* line 78, ../scss/manual-upload.scss */
#new-data .add-row {
  display: inline-block;
  margin-top: 20px;
  padding: 0 5px;
  background-color: #1b8e6d;
  color: #fff;
}

/* line 87, ../scss/manual-upload.scss */
#bio.list .rows {
  text-align: left;
  padding-bottom: 10px;
}
/* line 90, ../scss/manual-upload.scss */
#bio.list .rows .row {
  padding: 5px 0;
}
/* line 93, ../scss/manual-upload.scss */
#bio.list .rows .row .section input {
  border: none;
}
/* line 97, ../scss/manual-upload.scss */
#bio.list .rows .row .section input:focus {
  outline: none;
  border-bottom: 1px solid #c4f2df;
}
/* line 101, ../scss/manual-upload.scss */
#bio.list .rows .row .section span {
  font-family: 'Calibri';
  opacity: 0.5;
}
/* line 106, ../scss/manual-upload.scss */
#bio.list .rows .row .timestamp {
  position: relative;
  display: inline-block;
  width: 250px;
  margin-right: 10px;
}
/* line 108, ../scss/manual-upload.scss */
#bio.list .rows .row .timestamp .month, #bio.list .rows .row .timestamp .day, #bio.list .rows .row .timestamp .hour, #bio.list .rows .row .timestamp .minute {
  display: inline-block;
  width: 20px;
}
/* line 112, ../scss/manual-upload.scss */
#bio.list .rows .row .timestamp .period {
  width: 60px;
}
/* line 115, ../scss/manual-upload.scss */
#bio.list .rows .row .timestamp .minute {
  margin-right: 5px;
}
/* line 118, ../scss/manual-upload.scss */
#bio.list .rows .row .timestamp .year {
  display: inline-block;
  width: 40px;
  margin-right: 10px;
}
/* line 124, ../scss/manual-upload.scss */
#bio.list .rows .row .reading {
  position: relative;
  display: inline-block;
  width: 120px;
  margin-right: 10px;
}
/* line 126, ../scss/manual-upload.scss */
#bio.list .rows .row .reading input {
  width: 50px;
}
/* line 130, ../scss/manual-upload.scss */
#bio.list .rows .row .save {
  float: right;
  position: relative;
  display: inline-block;
  width: 50px;
  margin-right: 10px;
  color: #1b8e6d;
  cursor: pointer;
}
/* line 136, ../scss/manual-upload.scss */
#bio.list .rows .row .delete {
  float: right;
  position: relative;
  display: inline-block;
  width: 50px;
  margin-right: 10px;
  color: #cc2f2f;
  cursor: pointer;
}
