/* line 28, ../scss/style.scss */
html, body {
  position: relative;
  overflow: scroll;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'helvetica';
  color: #3a3a3a;
}

/* line 38, ../scss/style.scss */
main {
  padding-top: 100px;
}

/* line 44, ../scss/style.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  z-index: 100;
  background-color: #2ecc9e;
}
/* line 53, ../scss/style.scss */
header #title {
  font-size: 30px;
  line-height: 30px;
  font-family: "calibri", helvetica, sans-serif;
  font-weight: bold;
}
/* line 59, ../scss/style.scss */
header #user-options {
  position: relative;
  float: right;
}
/* line 62, ../scss/style.scss */
header #user-options .username {
  margin-bottom: 0;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: #2ecc9e;
}
/* line 70, ../scss/style.scss */
header #user-options .user-menu {
  display: none;
  clear: both;
  text-align: right;
}
/* line 75, ../scss/style.scss */
header #user-options .show {
  display: block;
}

/* line 82, ../scss/style.scss */
.fullpage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* line 87, ../scss/style.scss */
.fullpage #login, .fullpage #register {
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  transform: translateY(-50%);
}

/* line 99, ../scss/style.scss */
#home-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
}
/* line 106, ../scss/style.scss */
#home-bg .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #3a3a3a;
  opacity: 0.4;
  z-index: 1;
}
/* line 116, ../scss/style.scss */
#home-bg img {
  position: absolute;
  min-height: 100%;
  max-width: 1500px;
  margin-left: 50%;
  transform: translateX(-50%);
  opacity: 0.8;
  z-index: 0;
}

/* line 127, ../scss/style.scss */
#home {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 100px;
}
/* line 132, ../scss/style.scss */
#home #logo {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* line 136, ../scss/style.scss */
#home #logo img {
  width: 100%;
  height: auto;
}
/* line 141, ../scss/style.scss */
#home #statement {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
  font-family: "calibri", helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
}
/* line 151, ../scss/style.scss */
#home #user-options {
  text-align: center;
}
/* line 153, ../scss/style.scss */
#home #user-options .button {
  display: inline-block;
  margin: 0 10px;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
}
/* line 162, ../scss/style.scss */
#home #user-options .button:hover {
  background-color: #fff;
  color: #3a3a3a;
}

/* line 1, ../scss/datasets.scss */
.labels {
  width: 100%;
  border-bottom: 2px solid #3a3a3a;
}
/* line 4, ../scss/datasets.scss */
.labels .label {
  display: inline-block;
  padding-right: 10px;
  color: #3a3a3a;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

/* line 13, ../scss/datasets.scss */
.row {
  display: block;
  width: 100%;
  border-bottom: 1px solid #3a3a3a;
}
/* line 17, ../scss/datasets.scss */
.row .value {
  display: inline-block;
  padding-right: 10px;
  font-size: 12px;
  line-height: 18px;
  line-height: 20px;
}

/* line 29, ../scss/datasets.scss */
.plot .name {
  width: 140px;
}
/* line 32, ../scss/datasets.scss */
.plot .status {
  width: 100px;
}
/* line 35, ../scss/datasets.scss */
.plot .temp {
  width: 100px;
}
/* line 38, ../scss/datasets.scss */
.plot .moisture {
  width: 120px;
}
/* line 41, ../scss/datasets.scss */
.plot .manual {
  font-weight: bold;
  cursor: pointer;
}

/* line 172, ../scss/style.scss */
#dashboard-nav-bar {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 50px;
}
/* line 179, ../scss/style.scss */
#dashboard-nav-bar .dashboard-section {
  overflow: hidden;
  width: 100%;
  padding: 25px;
}
/* line 183, ../scss/style.scss */
#dashboard-nav-bar .dashboard-section .section-title {
  font-family: "calibri", helvetica, sans-serif;
  font-size: 36px;
  line-height: 54px;
  font-weight: bold;
  color: #cc2f2f;
  text-align: center;
}
/* line 191, ../scss/style.scss */
#dashboard-nav-bar .dashboard-section .section-description {
  padding-top: 12px;
  font-family: helvetica, sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #ffbdbd;
  text-align: center;
}
/* line 199, ../scss/style.scss */
#dashboard-nav-bar .dashboard-section .section-content {
  overflow: hidden;
  width: 100%;
  margin-top: 50px;
  padding: 25px;
}

/* line 209, ../scss/style.scss */
#locations {
  width: 100%;
  padding: 0 25px;
  margin-bottom: 100px;
  text-align: center;
}
/* line 214, ../scss/style.scss */
#locations #new-location {
  margin-bottom: 25px;
}
/* line 217, ../scss/style.scss */
#locations .location {
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
  width: 100%;
  max-width: 800px;
  margin-right: 25px;
  border-radius: 5px;
  text-align: left;
}
/* line 226, ../scss/style.scss */
#locations .location .location-info {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 50px;
}
/* line 231, ../scss/style.scss */
#locations .location .location-info .title {
  display: inline-block;
  width: 200px;
  font-size: 46px;
  font-family: "calibri", helvetica, sans-serif;
  font-weight: bold;
  margin-right: 25px;
}
/* line 239, ../scss/style.scss */
#locations .location .location-info .add-plot {
  position: absolute;
  right: 0;
  bottom: 10px;
  padding-bottom: 1px;
  color: #2ecc9e;
  border-bottom: 2px solid #2ecc9e;
  cursor: pointer;
}

/* line 281, ../scss/style.scss */
.plots {
  display: block;
  width: 100%;
}
/* line 284, ../scss/style.scss */
.plots .labels {
  width: 100%;
  border-bottom: 2px solid #3a3a3a;
}
/* line 287, ../scss/style.scss */
.plots .labels .label {
  display: inline-block;
  padding-right: 10px;
  color: #3a3a3a;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
/* line 294, ../scss/style.scss */
.plots .labels .name {
  width: 140px;
}
/* line 297, ../scss/style.scss */
.plots .labels .time {
  width: 100px;
}
/* line 300, ../scss/style.scss */
.plots .labels .temp {
  width: 100px;
}
/* line 303, ../scss/style.scss */
.plots .labels .moisture {
  width: 100px;
}
/* line 307, ../scss/style.scss */
.plots .plot {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
}
/* line 252, ../scss/style.scss */
.plots [status='up'] .name {
  font-size: 16px;
  line-height: 24px;
}
/* line 255, ../scss/style.scss */
.plots [status='up'] .status {
  width: 100px;
}
/* line 257, ../scss/style.scss */
.plots [status='up'] .status .time {
  display: inline-block;
}
/* line 260, ../scss/style.scss */
.plots [status='up'] .status .marker {
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #2ecc9e;
}
/* line 270, ../scss/style.scss */
.plots [status='up'] .manual {
  cursor: pointer;
  color: #2ecc9e;
}
/* line 274, ../scss/style.scss */
.plots [status='up'] .edit {
  cursor: pointer;
  color: #2ecc9e;
}
/* line 252, ../scss/style.scss */
.plots [status='down'] .name {
  font-size: 16px;
  line-height: 24px;
}
/* line 255, ../scss/style.scss */
.plots [status='down'] .status {
  width: 100px;
}
/* line 257, ../scss/style.scss */
.plots [status='down'] .status .time {
  display: inline-block;
}
/* line 260, ../scss/style.scss */
.plots [status='down'] .status .marker {
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #cc2f2f;
}
/* line 270, ../scss/style.scss */
.plots [status='down'] .manual {
  cursor: pointer;
  color: #2ecc9e;
}
/* line 274, ../scss/style.scss */
.plots [status='down'] .edit {
  cursor: pointer;
  color: #2ecc9e;
}

/* line 321, ../scss/style.scss */
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 200px;
  background-color: rgba(187, 255, 232, 0.97);
}
/* line 329, ../scss/style.scss */
#overlay .close {
  position: fixed;
  left: 50px;
  top: 100px;
  opacity: 1;
}
/* line 335, ../scss/style.scss */
#overlay .center {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
/* line 342, ../scss/style.scss */
#overlay form {
  text-align: left;
}
/* line 344, ../scss/style.scss */
#overlay form input[type='submit'] {
  padding: 3px 5px;
  border: none;
  background-color: #2ecc9e;
  color: #3a3a3a;
}
/* line 2, ../scss/edit-plot.scss */
#overlay #edit-plot .title {
  margin-bottom: 25px;
  font-family: "calibri", helvetica, sans-serif;
  font-size: 46px;
  font-weight: bold;
  border-bottom: 4px solid #3a3a3a;
}
/* line 10, ../scss/edit-plot.scss */
#overlay #edit-plot div .title {
  font-size: 21px;
  line-height: 32px;
  border: none;
  margin: 0;
}
/* line 16, ../scss/edit-plot.scss */
#overlay #edit-plot .crops {
  margin-bottom: 15px;
}
/* line 18, ../scss/edit-plot.scss */
#overlay #edit-plot .crops ul {
  padding-left: 25px;
}
/* line 21, ../scss/edit-plot.scss */
#overlay #edit-plot .crops ul li input {
  border: none;
  border-bottom: 2px solid #2ecc9e;
  background-color: transparent;
  width: 100px;
  text-align: left;
}
/* line 28, ../scss/edit-plot.scss */
#overlay #edit-plot .crops ul li input:focus {
  outline: none;
}
/* line 34, ../scss/edit-plot.scss */
#overlay #edit-plot .vwc {
  margin-bottom: 50px;
}
/* line 36, ../scss/edit-plot.scss */
#overlay #edit-plot .vwc ul {
  list-style: none;
  padding-left: 10px;
}
/* line 39, ../scss/edit-plot.scss */
#overlay #edit-plot .vwc ul input {
  margin-left: 10px;
  border: none;
  border-bottom: 2px solid #2ecc9e;
  background-color: transparent;
  width: 25px;
  text-align: center;
}
/* line 47, ../scss/edit-plot.scss */
#overlay #edit-plot .vwc ul input[type="number"]::-webkit-inner-spin-button,
#overlay #edit-plot .vwc ul input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* line 52, ../scss/edit-plot.scss */
#overlay #edit-plot .vwc ul input:focus {
  outline: none;
}
/* line 2, ../scss/manual-upload.scss */
#overlay #biodiversity .readings {
  margin-bottom: 50px;
}
/* line 4, ../scss/manual-upload.scss */
#overlay #biodiversity .readings .row {
  padding: 10px 0;
  border: none !important;
  border-bottom: 1px solid #3a3a3a !important;
}
/* line 8, ../scss/manual-upload.scss */
#overlay #biodiversity .readings .row input {
  border: none;
  background-color: transparent;
}
/* line 12, ../scss/manual-upload.scss */
#overlay #biodiversity .readings .row input:focus {
  outline: none;
  color: #3a3a3a;
}
/* line 16, ../scss/manual-upload.scss */
#overlay #biodiversity .readings .row .time, #overlay #biodiversity .readings .row .date {
  margin-right: 15px;
}
/* line 19, ../scss/manual-upload.scss */
#overlay #biodiversity .readings .row .reading {
  width: 50px;
}
/* line 25, ../scss/manual-upload.scss */
#overlay #biodiversity .add span {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 25px;
}
