#biodiversity{
	.readings {
		margin-bottom: 50px;
		fieldset {
			margin-bottom: 10px;
			input {
				vertical-align: bottom;
				border: none;
				border-bottom: 2px solid $green;
				background-color: transparent;
			}
			input:focus {
				outline: none;
			}
			.time, .date {
				margin-right: 15px;
			}
			.reading {
				width: 50px;
			}
		}
		fieldset:last-of-type {
			margin-bottom: 25px;
		}
	}
	.add {
		span {
			cursor: pointer;
			display: inline-block;
			margin-bottom: 25px;
			border-bottom: 2px solid $green;
		}
	}
}