@import 'mixins';

#new-data, #bio {
	width: 100%;
	@media (max-width: 600px) { width: 350px; }
	// text-align: center;
	margin-bottom: 50px;

	.top {
		margin-bottom: 10px;
		text-align: left;
		border-bottom: 2px solid #000;
		.timestamp {
			@include collumn(250px);
			font-weight: bold;
		}
		.reading{
			@include collumn(120px);
			font-weight: bold;
		}
		@media (max-width: 600px) { 
			.timestamp {
				@include collumn(115px);
				font-weight: bold;
			}
			.reading{
				@include collumn(80px);
				font-weight: bold;
			}
		}
	}
	.data, #plot.list .rows, #bio.list .rows {
		text-align: left;
		padding-bottom: 10px;
		border-bottom: 2px solid #000;
		.row {
			padding: 5px 0;
			.section {
				input {
					border: none;
					border-bottom: 1px solid $green;
				}
				input:focus {
					outline: none;
					background-color: $light-green;
				}
				span {
					font-family: 'Calibri';
					opacity: 0.5;
				}
			}
			.timestamp {
				@include collumn(250px);
				.month, .day, .hour, .minute{
					display: inline-block;
					width: 20px;
				}
				.period {
					width: 60px;
				}
				.minute {
					margin-right: 5px;
				}
				.year {
					display: inline-block;
					width: 40px;
					margin-right: 10px;
				}
			}
			.reading {
				@include collumn(120px);
				input {
					width: 50px;
				}
			}
			@media (max-width: 600px) { 
				.timestamp {
					@include collumn(115px);
					font-weight: bold;
				}
				.reading{
					@include collumn(80px);
					font-weight: bold;
				}
			}
			.save {
				float: right;
				@include collumn(50px);
				color: $green;
				cursor: pointer;
			}
			.delete {
				float: right;
				@include collumn(50px);
				color: $red;
				cursor: pointer;
			}
		}
	}
	.add-row {
		display: inline-block;
		margin-top: 20px;
		padding: 0 5px;
		background-color: $green;
		color: #fff;
	}
}

#bio.list .rows {
	text-align: left;
	.row {
		padding: 5px 0;
		vertical-align: top;
		.section {
			input {
				border: none;

			}
			input:focus {
				outline: none;
				border-bottom: 1px solid $light-green;
			}
			span {
				font-family: 'Calibri';
				opacity: 0.5;
			}
		}
		.timestamp {
			@include collumn(250px);
			.month, .day, .hour, .minute{
				display: inline-block;
				width: 20px;
			}
			.period {
				width: 60px;
			}
			.minute {
				margin-right: 5px;
			}
			.year {
				display: inline-block;
				width: 40px;
				margin-right: 10px;
			}
		}
		.reading {
			vertical-align: inherit;
			@include collumn(120px);
			input {
				width: 50px;
			}
		}
		@media (max-width: 600px) { 
			.timestamp {
				@include collumn(115px);
				font-weight: bold;
			}
			.reading {
				@include collumn(80px);
				font-weight: bold;
			}
		}
		.save {
			float: right;
			@include collumn(50px);
			color: $green;
			cursor: pointer;
		}
		.delete {
			float: right;
			@include collumn(50px);
			color: $red;
			cursor: pointer;
		}
	}
}