$green : #1b8e6d;
$light-green : #c4f2df;
$red : #cc2f2f;
$light-red : #ffbdbd;
$black: #3a3a3a;

@mixin xl{
	font-size: 36px;
	line-height: 42px;
}
@mixin large {
	font-size: 24px;
	line-height: 32px;
}

html, body {
	position: relative;
	overflow: scroll;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Calibri';
	color: $black;
}
main {
	padding-top: 100px;
}

#sidebar {
	position: absolute;
	box-sizing: border-box;
	left: 0;
	top: 0;
	width: 200px;
	height: 100vh;
	padding: 15px;
	background-color: $light-green;
	#title {
		font-size: 21px;
		font-weight: bold;
		padding-bottom: 5px;
		margin-bottom: 25px;
	}
	#navigation {
		.nav-section {
			margin-bottom: 25px;
			.title {
				font-size: 18px;
				font-weight: bold;
				border-bottom: 2px solid #000;
			}
			.nav-list {
				.list-item {
					padding-left: 5px; 
					font-size: 12px;
					line-height: 24px;
				}
				.active {
					font-weight: bold;
				}
				.line {
					border-bottom: 1px solid #000;
				}
			}
		}
	}
}

@mixin collumn($width) {
	position: relative;
	display: inline-block;
	width: $width;
}

#content {
	overflow: scroll;
	position: absolute;
	box-sizing: border-box;
	left: 200px;
	top: 0;
	width: Calc(100% - 200px);
	height: 100vh;
	padding: 60px 15px 15px 15px;
	text-align: center;
	#center {
		display: inline-block;
		text-align: left;
		#content-header {
			margin-bottom: 50px;
			.location {
				font-size: 36px;
				font-weight: bold;
				margin-right: 50px;
			}
			.add-plot {
				display: inline-block;
				color: $green;
			}
			.back {
				display: inline-block;
				text-decoration: none;
				color: $green;
			}
		}
	}
	#inner-content {
		.inner-header {
			margin-bottom: 25px;
			.title {
				display: inline-block;
				margin-right: 50px;
				font-size: 28px;
				font-weight: bold;
				color: $green;
			}
			.datasets {
				display: inline-block;
				vertical-align: middle;
				.set {
					display: inline-block;
					padding: 0 5px;
					background-color: $light-green;
					color: #000;
				}
			}
		}
	}
}

#plots {
	width: 700px;
	max-height: 410px;
	.top, .rows{
		.plot-number {
			@include collumn(200px);
		}
		.time, .temp, .moisture {
			@include collumn(100px);
		}
		.edit-plot {
			float: right;
			margin-right: 15px;
			font-weight: bold;
			cursor: pointer;
			@include collumn(auto);
		}
		.view-data {
			float: right;
			margin-right: 15px;
			font-weight: bold;
			cursor: pointer;
			@include collumn(auto);
		}
		.edit:hover {
			span {
				text-decoration: underline;
			}
		}
	}
}

#plot {
	width: 700px;
	max-height: 410px;
	overflow: scroll;
	.top, .rows{
		.timestamp {
			@include collumn(250px);
		}
		.temp, .moisture {
			@include collumn(100px);
		}
	}
}

.list {
	position: relative;
	padding-top: 42px;
	border-bottom: 2px solid #000;
	.top {
		position: absolute;
		top: 0px;
		width: 100%;
		font-size: 16px;
		border-bottom: 2px solid #000;
		background-color: #fff;
		.top-item {
			display: inline-block;
			line-height: 40px;
			font-weight: bold;
		}
	}
	.rows {
		width: 100%;
		height: 410px;
		overflow: scroll;
		font-size: 12px;
		.row{
			line-height: 40px;
			border-bottom: 1px solid #000;
		}
		.row:hover {
			background-color: $light-green;
		}
	}
}

#edit-plot {
	width: 400px;
}

#cover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	.answers {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		padding: 50px 100px;
		.yes, .no {
			margin: 0 5px;
			display: inline-block;
			padding: 5px 10px;
			color: #fff;
		}
		.yes {
			background-color: $red;
		}
		.no {
			background-color: #000;
		}
	}
}
